<div class="landing">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 text-center">
        <div class="title">
          <div class="mb-5">What <span style="color: red;">service</span> do you want?</div>
          <form #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm)" class="row">
            <div class="form-group mx-auto col-8">
              <input 
                type="text" 
                class="form-control rounded-0 box-shadow search-box" 
                placeholder="What service do you want?"
                #searchString="ngModel"
                [ngClass]="{'is-invalid':searchString.errors && searchString.touched}"
                name="searchString"
                [(ngModel)]="search_string"
                required>
              <div [hidden]="!searchString.errors?.required" class="mt-1 text-left invalid-feedback" style="font-size: 14px;">
                Please let us know what you need.
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>