<div class="panel">
  <nav class="navbar navbar-light bg-danger sticky-top">
    <div class="row same-height">
      <div class="col-md-3">
        <a class="navbar-brand" style="color:white;">
          {{userType | uppercase}}
        </a>
      </div>
      <div class="col-md-8 offset-md-1">
        <div class="group">
          <input class="bg-danger" placeholder="Search" [(ngModel)]="user_filter" name="user_filter">
          <span class="highlight"></span>
          <span class="bar"></span>
        </div>
      </div>
    </div>
  </nav>
  <div class="user-list">
    <ul *ngIf="data.length !== 0" class="list-group list-group-flush">
      <li *ngFor="let single of data"
        class="has-border"
        [ngClass]="{
          'list-group-item': true,
          'user-selected': selected === single.partyId
        }"
        (click)="handleClick(single)"
      >
        <div class="row">
          <div class="col-md-2">
            <fa name="user" size="2x" class="user-image"></fa>
          </div>
          <div class="col-md-10 align-self-center">
            <h6>{{single.username}}</h6>
          </div>
        </div>
      </li>
    </ul>
    <ul *ngIf="data.length === 0" class="list-group list-group-flush">
      <li class="list-group-item text-danger">
        No {{userType == "buyers" ? "vendors":"buyers"}} in your contact.
      </li>
    </ul>
  </div>
</div>